# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.melos/
.melos_tool/
.generated/
*.iml

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/engine/

# Android
android/.gradle/
android/app/build/
android/build/

# Xcode
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode1v3
*.xcodeproj/*.mode2v3
*.xcodeproj/*.perspectivev3
*.xcodeproj/project.pbxproj
DerivedData/
*.hmap

# Others
.env
*.log
*.DS_Store
*.lock
.idea/
